<fab-speed-dial
  class="speed-dial-container"
  [(open)]="open"
  [direction]="direction"
  [animationMode]="animationMode"
  [fixed]="fixed"
>
  <fab-speed-dial-trigger [spin]="spin">
    <button mat-fab (click)="doAction('trigger')">
      <mat-icon class="fab-spin90">more_horiz</mat-icon>
    </button>
  </fab-speed-dial-trigger>

  <fab-speed-dial-actions>
    <button
      mat-mini-fab
      matTooltip="search"
      matTooltipPosition="before"
      color="primary"
      #tooltip="matTooltip"
      (click)="doAction('search')"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="edit" matTooltipPosition="before" color="secondary" (click)="doAction('edit')">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="home" matTooltipPosition="before" (click)="doAction('home')">
      <mat-icon>home</mat-icon>
    </button>
  </fab-speed-dial-actions>
</fab-speed-dial>

<p *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Sed risus ultricies tristique nulla. Facilisis sed odio morbi quis commodo. Duis at consectetur lorem donec
  massa. Et netus et malesuada fames ac turpis egestas. Venenatis tellus in metus vulputate eu. Phasellus faucibus
  scelerisque eleifend donec pretium. Cursus in hac habitasse platea dictumst. Ante metus dictum at tempor commodo
  ullamcorper. Erat velit scelerisque in dictum. Facilisi morbi tempus iaculis urna id volutpat. Arcu dictum varius duis
  at consectetur lorem. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Volutpat blandit
  aliquam etiam erat velit scelerisque in. Nulla malesuada pellentesque elit eget. Mattis aliquam faucibus purus in
  massa tempor nec feugiat nisl. Cras sed felis eget velit aliquet sagittis id consectetur. Nullam ac tortor vitae purus
  faucibus ornare suspendisse.
</p>
