<mat-toolbar color="primary" class="mat-elevation-z4">Speed Dial</mat-toolbar>
<div class="content">
  <div class="mat-body-1">
    <span>Material &gt; Guidelines &gt; Components &gt; </span>
    <a href="https://material.io/guidelines/components/buttons-floating-action-button.html"
      >Buttons: Floating Action Button</a
    >
    <span> &gt; </span>
    <a
      href="https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions"
      >Transitions</a
    >
    <span> &gt; Speed dial</span>
  </div>
  <mat-checkbox [(ngModel)]="hasLabels">With labels</mat-checkbox>
</div>
<div class="fab-container">
  <speed-dial #dial="speedDial">
    <button
      *ngFor="let option of options"
      mat-mini-fab
      speed-dial-option
      [speedDialOptionLabel]="hasLabels ? option.label : null"
    >
      <mat-icon>{{ option.icon }}</mat-icon>
    </button>
  </speed-dial>
  <button mat-fab [speedDialTriggerFor]="dial" #trigger="speedDialTrigger">
    <mat-icon *ngIf="!trigger.isOpen">share</mat-icon>
    <mat-icon *ngIf="trigger.isOpen">close</mat-icon>
  </button>
</div>

<p *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
  mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi,
  condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
  rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
  dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
  Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
</p>
